@import "bootstrap";
@import "components/variables";
@import "components/desktop";
@import "components/tablet";
@import "components/smartphone";
@import "components/elements";

/* General */
body {
  font-size: 16px;
}

/* Layout */
#wrapper {
  margin-top: 10px;
}

#main {
  .container {
    margin-bottom: 20px;
  }
}

.row, .subrow {
  &.last {
    margin-top: 40px;
  }
}

#header {
  .logo {
    a {
      display: block;
      text-indent: -999em;
      overflow: hidden;
      background-image: url(../images/sprite.png);
    }
  }
}

.alpha {
  padding-left: 0;
}

.omega {
  padding-right: 0;
}


/* Links & buttons */
.button {
  display: block;
  text-align: center;
  padding: 9px 0;
  @include rounded;
  &.blue {
    color: white;
    background: $blue;
  }
  &.red {
    color: white;
    background: $red;
  }
  &.next {
    &.red {
      background: $red url(../images/sprite.png) right top;    
    }
    &.blue {
      background: $blue url(../images/sprite.png) right top;
    }
  }
}

ul.steps {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  li.step {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 28px;
    line-height: 28px;
    float: left;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 800;
    color: white;
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

/* General section styles */
.section {
  .item {
    margin-bottom: 0.5em;
		.label {
		  color: $black;
		  padding: 0;
		  margin: 0;
		  font-size: 1em;
		  font-weight: 400;
		}
		
		.value {
		  color: $blue;
		  font-weight: 600;
		}
	}
	&.last {
	  margin-top: 40px;
	}
}

/* Specific section styles */
.section {
  &.remove {
    border-top: 1px dotted $lightGrey;
    padding-top: 20px;
    a {
      display: block;
    }
  }
}

/* Lijst met items */
ul.items {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px dotted $lightGrey;
  li.item {
    position: relative;
    padding-bottom: 1em;
    list-style: none;
    border-bottom: 1px  dotted $lightGrey;
    .title {
      color: $blue;
    }
    .dates {
    }
    .actions {
      margin-top: 0.5em;
      a {
        text-align: center;
        line-height: 2em;
        font-size: 1.25em;
        @include rounded;
        &.blue {
          color: $blue;
          border: 2px solid $blue;
        }
        &.red {
          color: $red;
          border: 2px solid $red;
        }
      }
    }
  }
}

/* Secondary Menu */
#secondary-menu {
  background: $menuGreyDark;
  color: $menuGreyText;
  height: 30px;
  line-height: 30px;
  a {
    color: $menuGreyText;
  }
  .container {
    text-align: right;
    span {
      border-right: 1px solid $menuGreyText;
      padding: 0 0.7em;
      &.last {
        border-right: none;
      }
      &.action {
        background: $menuGreyLight;
        padding-right: 0.7em;
        display: inline-block;
        height: 30px;
        text-transform: uppercase;
      }
    }
  }
}

/* General Preloader */
#preloader-general {
  display: none;
  text-align: center;
  span {
    display: inline-block;
    font-size: 1.25em;
    height: 32px;
    line-height: 32px;
    padding: 0 40px;
    background: url(../images/loader.gif) no-repeat left center;
  }
}

/* Small Preloader */
.loader {
  display: none;
  text-align: center;
  span {
	  display: inline-block;
	  width: 35px;
	  height: 35px;
	  background: url(../images/loader-small.gif) no-repeat center center;
  }
}

/* Bib page */
span.late {
  color: $red;
}

section.bib-details {
  margin-bottom: 15px;
  a {
    display: inline-block;
    margin-right: 10px;
  }
  span {
    color: $darkGrey;
  }
}

/* Messages */
section.messages {
  .message {
    @include rounded;
    padding: 15px;
    margin-bottom: 15px;
    &.error {
	    background: $red;
	    color: $white;
	    a {
	      color: $white;
	      border-bottom: 1px solid white;
	      &:hover {
	        border-bottom: none;
	        text-decoration: none;
	      }
	    }
	    .form-submit {
	      color: $red;
	    }
    }
    &.info {
      background: $blue;
      color: $white;
	    a {
	      color: $white;
	      border-bottom: 1px solid white;
	      &:hover {
	        border-bottom: none;
	        text-decoration: none;
	      }
	    }
	    .form-submit {
	      color: $blue;
	    }
    }
    .form-submit {
      background: white;
      margin: 10px 0;
    }
  }
}

/* Link (no button) */
a.link {
  border: none !important;
}

/* Checkbox - TODO: checkbox image is missing in PSD! */
/*input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: green;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background: red;
}*/