@media all and (min-width: 320px) and (max-width: 640px) {
  .resp-false {
    display: none;
  }
  
  /* Links & buttons */
  a.extra {
    text-align: center;
    display: block;
  }

  .form-submit {
    width: 100%;
    font-size: 1.125em;
    font-weight: bolder;   
    margin-bottom: 10px; 
  }
  
  .button {
    font-size: 1.125em;
    font-weight: bolder;    
  }
  
  
  /* Layout */  
  #header {
	  .logo {
	    float: right;  
	    width: 50px;
	    height: 50px;
	    a {
	      height: 50px;
	      background-position: left top;
	    }
	  }
  }
  
	.resp-line {
	  border-top: 1px dashed $lightGrey;
	  margin-top: 20px;
	  position: relative;
	  text-align: center;
	  span {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 10%;
	    background: white;
	    position: relative;
	    top: -10px;
	  }
	}

  /* Registration Steps */
  ul.steps {
    li.step {
      a {
	      background: url(../images/sprite.png) no-repeat left -55px;    
	      display: block;
	      height: 28px;
	    }
	    &.step-0 {
	      width: 63px;
	      background: url(../images/sprite.png) no-repeat left -55px;
	    }
	    &.step-1 {
	      width: 52px;
	    }
	    &.step-2 {
	      width: 55px;
	    }
	  }
	  &.steps-0 {
      li.step-1 {
        a {
          background-position: -63px -55px;
        }
      }
      li.step-2 {
        a {
          background-position: -115px -55px;
        }
      }
	  }
	  &.steps-1 {
	    li.step-0 {
	      background-position: left -83px;
	    }
	    li.step-1 {
	      a {
	        background-position: -63px -83px;
	      }
	    }
	    li.step-2 {
	      a {
	        background-position: -115px -83px;
	      }
	    }
	  } 
	  &.steps-2 {
	    li.step-0 {
	      background-position: left -112px;
	    }
	    li.step-1 {
	      a {
	        background-position: -63px -112px;
	      }
	    }
	    li.step-2 {
	      a {
	        background-position: -115px -112px;
	      }
	    }
	  } 
  }
  
  /* Forms */
  .form-item {
    position: relative; 
    span.validation {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 0;
      &.false {
        background: url(../images/sprite.png) no-repeat right -297px;
      }
      &.true {
        background: url(../images/sprite.png) no-repeat right -327px;
      }
    }
    .message {
      font-size: 0.875em;
      &.error {
        color: $red;        
      }
    }
    &.form-item-checkbox {
      input {
        width: 8%;
        float: left;
		  }
		  
		  label {
		    width: 90%;
		    float: left;
		    line-height: 20px;
		  }
    }
  }  
  
  /* Actions in item list */
  ul.items {
    li.item {
      .actions {
        a {
          display: block;
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }
  
  /* The menu */
  #main {
    .sidebar-first {
      position: absolute;
      top: 20px;
      left: 0px;
      z-index: 100;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      .icon {
        a {
          color: $red;
          padding-left: 4em;
          font-weight: 600;
          font-size: 1.0625em;
          background: url(../images/sprite.png) left -221px;
          display: inline-block;
          height: 26px;
          line-height: 26px;
        }
      }     
      .inner {
        display: none;
        position: relative;
        top: -46px;
        width: 100%;
        color: $menuGreyText;
        background: white;
        .close-menu {
          position: absolute;
          top: 5px;
          right: 40px;
          a {
            display: block;
            width: 35px;
            height: 35px;
            background: url(../images/sprite.png) right -358px;
            text-indent: -999em;
            overflow: hidden;
          }
        }
        a {
          color: $menuGreyText;
          display: block;
        }
        ul {
          margin: 0;
          padding: 0;
          width: 90%;
          li {
            background: $darkGrey;                 
            list-style: none;
            margin: 0;
            line-height: 36px;
            border-bottom: 1px dotted $lightGrey;
            &.first {
              padding-top: 50px;
            }
            &.resp-last {
              border-bottom: none;
            }
            &.inline {
              a {
                display: inline-block;
                color: $lightGrey;
                font-size: 0.75em;
                text-transform: uppercase;
              }
            }
            a {
              padding-left: 5px;
              &.title {
                text-transform: uppercase;
                font-weight: 600;
              }
              &:hover {
                background: $menuGreyText;
                color: $menuGreyDark;
                text-decoration: none;
              }
              &.active {
                background: url(../images/sprite.png) no-repeat right -256px;
                color: white;
                width: 108%;
              }
            }
            ul {
              width: 100%;
              li {
                border-bottom: none;
                a {
                  padding-left: 15px;
                }
                ul {
                  li {
                    a {
                      padding-left: 30px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* Info text */
  #info-text {
    margin-top: 20px;
    display: none;
  }
  
  /* Popups */
  .ui-dialog {
    display: none !important;
  }
  
  .ui-widget-overlay {
    display: none !important;
  }
  
  /* General preloader */
  #preloader-general {
    background: #f3f3f3;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 1000;
    padding: 15px 0;
  }
  
  /* Small preloader */
  .loader {
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  /* Bib details */
  .bib-details {
    display: none;
  }
  
  /* Footer */
  .footer {
    margin-top: 20px;
    font-size: 0.875em;
  }
  
  /* Bibliotheek-pagina: icoontjes */
  section.links {
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-right: 30px;
        list-style: none;
        &.last {
          margin-right: 0;
        }
        a {
          background: url(../images/sprite.png);
          display: inline-block;
          text-indent: -900em;
          overflow: hidden;
          &.site {
            background-position: right -41px;
            width: 34px;
            height: 35px;
          }
          &.contact {
            background-position: -424px -41px;
            width: 34px;
            height: 35px;
          }
          &.catalogus {
            background-position: -380px -41px;
            width: 32px;
            height: 35px;
          }
        }
      }
    }
  }
}